<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <div class="frame">
    <h1>Markus mag</h1>
    <table>
      <tr>
        <th>Name</th><th>Prost</th><th>Wuarg</th>
      </tr>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= beer["name"] %></td><td><%= beer["likes"] %></td><td><%= beer["dislikes"] %></td>
      </tr>
    <% end %>
    </table>
  </div>
  <a class="btn" href="/" data-ajax="false">Zurück</a>

  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>

  <script type="text/javascript" src="js/script.js"></script>

</body>
</html>
