*{
  box-sizing: border-box;
}

#frame{
  padding: 20px;
}

#container {
  max-width: 500px;
  width: 100%;
  margin: auto !important;
  display: block;
  height: 400px;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.buddy {
  display: block;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #fff;
  padding: 20px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  cursor: hand;
}
.rotate-left {
  -webkit-transform: rotate(30deg) scale(0.8);
  -ms-transform: rotate(30deg) scale(0.8);
  transform: rotate(30deg) scale(0.8);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  margin-left: 400px;
  cursor: e-resize;
  opacity: 0;
}
.rotate-right {
  -webkit-transform: rotate(-30deg) scale(0.8);
  -ms-transform: rotate(-30deg) scale(0.8);
  transform: rotate(-30deg) scale(0.8);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
  margin-left: -400px;
  cursor: w-resize;
}
.avatar {
  background: #FFF;
  width: 100%;
  height: 100%;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.status{
  border-radius: 5px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 50px;
  position: absolute;
  top: 50px;
  text-shadow: none;
}
.like {
  border: 4px solid green;
  color: green;
  right: 40px;
}
.dislike {
  border: 4px solid red;
  color: red;
  left: 40px;
}